
:root {
  /**
   * Colour palette
   */
  --c-primary: hsl(355, 57%, 56%, 1);
  --c-secondary: #707070;
  --c-tertiary: #000000;

  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Baloo Bhai', cursive;
  --t-secondary: 'Rubik', sans-serif;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-tertiary);

  --t-regular: 15px;
  --t-large: 20px;
  --t-xlarge: 30px;
}


